<div class="container">
    <div class="side-bar">
        <ul>
          <li [routerLink]="['products','add-vender']">Add Vender</li>
          <li [routerLink]="['products','add-category']">Add Category</li>
          <li [routerLink]="['products','add-product']">Add Product</li>
          <li [routerLink]="['products','delete-by-id']">Delete Product By Id</li>
          <li [routerLink]="['products','delete-by-name']">Delete Product By Name</li>
          <li [routerLink]="['products','product-by-category']">Get Category Products</li>
          <li [routerLink]="['products','product-by-vender']">get Vender Products</li>
          <li [routerLink]="['products','max-price']">Max Price</li>
        </ul>
    </div>
    <div class="main">
      <router-outlet></router-outlet>
    </div>
</div>
